.profile-container {
  max-width: 800px;
  margin: 3rem auto;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.register-card {
  padding: 2rem;
  border-radius: 20px;
}

.full-width {
  width: 100%;
  margin-bottom: 1rem;
}

h3 {
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
  font-weight: 600;
}

.actions-row {
  margin-top: 2rem;
  display: flex;
  justify-content: flex-end;
}

.warning-box {
  background-color: #fff3cd;
  color: #856404;
  padding: 1rem;
  border-radius: 10px;
  margin-bottom: 1.5rem;
  font-size: 14px;
  font-weight: 500;
  border: 1px solid #ffeeba;
}